.slider .track {
    -fx-background-color: #B0BEC5;
}

.slider .tick-mark {
    -fx-stroke: #1976D2;      /* Color de los ticks */
    -fx-stroke-width: 3px;    /* Grosor de los ticks */
}

.slider .axis {
    -fx-tick-label-fill: #1976D2; /* Color de los números */
    -fx-tick-label-font-size: 14px; /* Tamaño de los números */
}